{
    "extends": "airbnb",
    "rules": {
        "no-use-before-define": [ "error", {
            "functions": false,
            "classes": true
        }],
        "indent": ["error", 4],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}